<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FITSPACE</title>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header>
        {{!-- <a href="/" class="brand-logo"><i class="material-icons"></i>FitSpace</a> --}}
        {{#if user}}
        <nav>
           <div class="nav-wrapper blue accent-4">
            <div class="right"> 
              <span class="email">{{user.email}}</span>
              <a class="waves-effect waves-light orange lighten-2 btn blue-text text-darken-2" href="/auth/logout"><i class="material-icons right"></i>Log Out</a>
            </div>
           </div></nav>
        {{else}}
        <nav>
           <div class="nav-wrapper blue accent-4">
              <div class="right"> 
                <a class="waves-effect waves-light orange lighten-2 btn blue-text text-darken-2" href="/login"><i class="material-icons right"></i>Log In</a>
                <span>or</span>
                <a class="waves-effect waves-light orange lighten-2 btn blue-text text-darken-2" href="/register">Register</a>
              </div>
           </div></nav>
      {{/if}}
  </header>




  <main>
    {{{body}}}
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>document.addEventListener('DOMContentLoaded', function() {M.AutoInit()})</script>
  <script src="/js/browser.js"></script>


</body>
</html>