<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FITSPACE</title>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper indigo accent-4">
        {{!-- <a href="/" class="brand-logo"><i class="material-icons"></i>FitSpace</a> --}}
        {{#if user}}
        <span class="email">{{user.email}}</span>
        <a href="/auth/logout">Log Out</a>
        {{else}}
        <a href="/login">Log In</a>
        <span>or</span>
        <a href="/register">Register</a>
      {{/if}}
      </div>
    </nav>
  </header>




  <main>
    {{{body}}}
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>document.addEventListener('DOMContentLoaded', function() {M.AutoInit()})</script>
  <script src="../../browser/js/browser.js"></script>


</body>

</html>