
    {{!-- <h3>Welcome {{#if user}}{{user.username}}{{else}}Guest{{/if}}</h3> --}}

    {{#if user}}

    <h1>LOGGED IN</h1>
    <nav>
    <div class="nav-wrapper indigo accent-4">
      <a href="#!" class="brand-logo"><i class="material-icons"></i>Keep Fit Web</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#page-footer">About</a></li>
        <li><a href="#page-footer">Contact</a></li>
      </ul>
    </div>
  </nav>

 <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">sidenav</i></a> 

  <ul id="slide-out" class="sidenav">
    <div><i>Here is gonna be the information about the app</i></div>
    {{!-- Insert exercises after this tag --}}
    <li><a href="#!">First Link</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>

  </ul>

  {{else}}

  <h1>NOT LOGGED IN YET</h1>

  {{/if}}


