 {{#if user}}


  <ul id="slide-out" class="sidenav">
    <div><i>Click Search Method Below</i></div>


<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">sidenav</i></a>

    <li><a class="waves-effect dropdown-trigger" href="#!" data-target="Equipment">Search by Equipment</a></li>
        <ul id='Equipment' class='dropdown-content'></ul>
    
    <li><a class="waves-effect dropdown-trigger" href="#!" data-target="BodyPart">Target Body Part</a></li>
        <ul id='BodyPart' class='dropdown-content'> </ul>
  
    <li><a class="waves-effect dropdown-trigger" href="#!" data-target="TargetMuscle">Target Muscle Group</a></li>

        <ul id='TargetMuscle' class='dropdown-content'>
        </ul>

  </ul>


        <ul id='TargetMuscle' class='dropdown-content'></ul>
 </ul>

 <div id="cardContainer"></div>
 </div>
 
  {{else}}
<div class="appTitle orange lighten-2 white-text">
  <h1>FitSpace</h1>
  <h4>Join FitSpace today by registering for an account!</h4>
</div>
<div class="carousel carousel-slider center ">
    <div class="carousel-fixed-item center">
    </div>
    <div class="carousel-item blue accent-4 white-text" href="#one!">
      <h2>All in One workout App</h2>
      
      <img src="https://wallpaperaccess.com/full/804834.jpg">
    </div>
    <div class="carousel-item blue accent-4 white-text" href="#two!">
      <h2>Search by Equipment</h2>
   
      <img src="https://wallpaperaccess.com/full/1078069.jpg">
    </div>
    <div class="carousel-item blue accent-4 white-text" href="#three!">
      <h2>Target Certain Body Parts</h2>
   
      <img src="https://rare-gallery.com/resol/3840x2160/65674-Woman-Brunette-GymGym-4k-Ultra-HD-Wallpaper.jpg">
    </div>
    <div class="carousel-item blue accent-4 white-text" href="#four!">
      <h2>Garf?</h2>
      
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/775f6ae2-0e7c-47c3-a06e-43a68db53254/dclhbhc-f1df5d5c-9b83-4735-9f92-9f3d28f67d54.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc3NWY2YWUyLTBlN2MtNDdjMy1hMDZlLTQzYTY4ZGI1MzI1NFwvZGNsaGJoYy1mMWRmNWQ1Yy05YjgzLTQ3MzUtOWY5Mi05ZjNkMjhmNjdkNTQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.SNjL9vroM12NeRlt8T8rj5NnQPKmfAfMkbivL-OBeEI">
    </div>
  </div>
  <div class="divider orange lighten-2"></div>
  <div class="section blue accent-4 white-text center">
    <h5 >The Best Workouts. For Your Best Results</h5>
    <p>Get back to exercising and back to your best with FitSpace. Our library of workouts are ready to help you get the best results.</p>
  </div>
  <div class="divider orange lighten-2"></div>
  <div class="section blue accent-4 white-text center">
    <h5>Save your workouts</h5>
    <p>Login/Register to save your workouts!</p>
  </div>
  <div class="divider orange lighten-2"></div>
  <div class="section blue accent-4 white-text center">
    <h5>Discover workouts</h5>
    <p>Look for workouts by searching by equipment and targeting certain muscle groups</p>
  </div>
  </div>
  

  {{/if}}