{{#if user}}
<h3>Welcome {{user.username}}</h3>
<nav><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">sidenav</i></a> </nav>
<ul id="slide-out" class="sidenav">
    <div><i>Here is gonna be the information about the app</i></div>
    {{!-- Insert exercises after this tag --}}
    <li><a href="#!">First Link</a></li>
    <li><a href="#!">Second Link</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
{{else}}
<h3>PLEASE LOG IN OR REGISTER!</h3>
{{/if}}