{{#if errors}}
  <div class="errors">
    {{#each errors}}
      <p class="error">{{this}}</p>
    {{/each}}
  </div>
{{/if}}
<body style="background-image:url('https://rare-gallery.com/resol/3840x2160/130260-fitness-workout-girl-4k.jpg');">
<div class="container">
    <div class="row center align">
    <div class="col s12 l10" >
      <div class="card" >
        <div class="card-image">
        </div>
        <div class="card-content">
          <form action="/auth/register" method="post">
            <h3>Register</h3>
            <input name="username" type="text" placeholder="Enter your username">
            <input name="email" type="email" placeholder="Enter your email address">
            <input name="password" type="password" placeholder="Enter your password">
            <button class="waves-effect waves-light orange lighten-2 btn blue-text text-darken-2">Submit</button>
          </form>
        </div>
      </div>
    </div>


  <!-- Tap Target Structure -->
  <div class="tap-target" data-target="menu">
    <div class="tap-target-content">
      <h5>Title</h5>
      <p>A bunch of text</p>
    </div>
  </div>

  </div>


  
</div>
</body>
  <!-- Element Showed -->

