{{#if errors}}
  <div class="errors">
    {{#each errors}}
      <p class="error">{{this}}</p>
    {{/each}}
  </div>
{{/if}}

  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="../browser/css/img/fitness.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <form action="/auth/register" method="post">
            <h3>Register</h3>
            <input name="username" type="text" placeholder="Enter your username">
            <input name="email" type="email" placeholder="Enter your email address">
            <input name="password" type="password" placeholder="Enter your password">
            <button class="waves-effect waves-light orange lighten-2 btn blue-text text-darken-2">Submit</button>
            </div>
        <div class="card-action">
          </form>
        </div>
      </div>
    </div>
  </div>

