body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.appTitle {
  padding: 25px;
  text-align: center;
}

.carousel {

  height: 800px !important;
}

.btn {
  margin: 12px;
}

.card-div {}

.card-title {
  color: black !important;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}

.saveBtn {
  position: absolute;
  bottom: 0;
  right: 0;
}