body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.appTitle {
    padding: 25px;
    text-align: center;
}
.carousel {

    height: 800px !important;
}

.btn{
    margin: 12px;
}


